body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1{
    text-align:center;
    margin-bottom: 20px;
    bottom 5px;
}

p{
    text-align:center;
    padding-top:px;
}

input[type="text"]{
    width: 70%;
    padding: 8px;
    margin-right: 5px;
    border-radius:3px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 3px;
    cursor:pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

input[type="checkbox"]{
    margin-right:10px;
}

li.completed span {
    text-decoration: line-through;
    color: #888;
}

.delete {
    float: right;
    color: #f44336;
    cursor: pointer;
}